<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<div class="grid">
  <% @game.points.order(id: :desc).each do |point| %>
    <%= link_to point(@path, point),"#{@game.id}/toggle/#{point.x}/#{point.y}", remote: true, method: :post %>
  <% end %>
</div>

<%= link_to 'Back', games_path %>
