<h1>
  <%= @game.title %>
</h1>

<div class="grid">
  <% @game.points.order(id: :desc).each do |point| %>
    <%= link_to point(@path, point),"#{@game.id}/toggle/#{point.x}/#{point.y}", remote: true, method: :post %>
  <% end %>
</div>

<%= link_to %{
  <div class="button">
    <span>Back</span>
  </div>
}.html_safe, games_path %>

<audio src="../lava.mp3" autoplay="true" loop="true" hidden="true"></audio>
