/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input {
   border: 1px solid grey;
   background-color: rgb(50,50,50);
   color: white;
   padding: 10px;
   margin: 10px;
 }

 button {
   padding:0;
 }

 .grid {
   margin:auto;
 }

 body {
   font-family: Minecraft;
   color: white;
   text-align: center;
 }

 @font-face {
  font-family: 'Minecraft';
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot');
  src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot?#iefix') format('embedded-opentype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.woff') format('woff'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf')  format('truetype'),
       url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'MinecraftTitle';
  src: url('../minecraft.ttf')
}

h1  {
  font-family: 'MinecraftTitle';
}

.button {
  height: 40px;
  width: 400px;
  outline: 2px solid black;
  position: relative;
  margin: 0;
  display: inline-block;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
  background-repeat: repeat;
  padding: 0;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 16px;
}

.button span {
  position: relative;
  line-height: 40px;
  bottom: 3px;
}

.button:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
  color: #FFFFA0;
}

 body {
   font-family: Minecraft Title Cyrillic;
   background-image: url("background.jpg");
       background-size: 64px 64px;
 }

.grid {
  height: 690px;
  width: 690px;

  a {
    display: inline-block;
    margin-right: -4px;
    margin-top: -4px;
    padding: 0px;
    height: 64px;
    width: 64px;
  }
}

.point, img {
  height: 64px;
  width: 64px;
  position: relative;
}

.start {
  background-color: green;
}

.goal {
  background-color: red;
}

img:hover {
   box-sizing: border-box;
  border: 1px solid black;
}

@for $n from 1 through 10 {
  @for $k from 1 through 10 {
    .p_#{$n}_#{$k} {color: black}
  }
}
