/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: "Minecraft Title Cyrillic";
   src: url('fonts/minecraft.ttf');
 }

 body {
   font-family: Minecraft Title Cyrillic;
 }

.grid {
  height: 690px;
  width: 690px;

  a {
    display: inline-block;
    margin-right: -4px;
    margin-top: -4px;
    padding: 0px;
    height: 64px;
    width: 64px;
  }
}

.point, img {
  height: 64px;
  width: 64px;
  position: relative;
}

.start {
  background-color: green;
}

.goal {
  background-color: red;
}

img:hover {
   box-sizing: border-box;
  border: 1px solid black;
}

@for $n from 1 through 10 {
  @for $k from 1 through 10 {
    .p_#{$n}_#{$k} {color: black}
  }
}
